<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>Dashboard</h1>
    </div>
    <div class="col-md-2">
      <%= button_to("Log Out", "/logout", method: :get, class: "btn btn-default logout-btn") %>
    </div>
  </div>
  <hr>

  <% @applications.each do |app| %>
    <%= button_to("#{app.name} + #{app.namespace}", dashboard_index_path, method: :get, class: "btn btn-default") %>
    <br>
  <% end %>
</div>
