
<div class="container centered-content">
  <div class="row login-buffer-top">
    <div class="col-md-6">
      <div class="jumbotron" style="background-color: transparent !important;">
        <h1>COMET UI</h1> 
      </div>
    </div>
    <div class="col-md-6">
      <h1 align="center"> Log In </h1>
      <hr>
      
      <form role="form" method="POST" action="/login">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" />
        </div>

        <div class="form-group">
          <div align="center">
            <button type="submit" class="btn btn-default" value="login">Log In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
</div>
