<h1> Log In </h1>
<hr>

<form method="GET" action="/ping">
  <label for="username">Username</label>
  <input type="text" id="username">

  <br>

  <label for="password">Password</label>
  <input type="password" id="password">

  <input type="submit" value="Log In">
  <br>
  
</form>
