<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-12">
    <h1 class="text-center">Applications</h1>
  </div>
</div>
<hr>
    
<% @applications.each do |app| %>
  <%= link_to app_path(app.name) do%>
    <div class="row">
      <div class="col-12  apps-list-item list-group-item-action">
          <span><%= app.name%></span>
      </div>
    </div>
  <% end %>
<% end %>
