<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-10">
    <h1 class="text-center">Applications</h1>
  </div>
</div>
<hr>
    
<% @applications.each do |app| %>
  <div class="row">
    <div class="col-12">
      <%= button_to("#{app.name}", configuration_path ,params: {namespace: app.namespace, app: app.name}, method: :get, class: "btn btn-default btn-block") %>
    </div>
  </div>
<% end %>
