<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-10">
    <h1 class="text-center">Namespaces</h1>
  </div>
</div>
<hr>
    
<% @app["namespaces"].each do |namespace| %>
  <%= link_to app_path("#{@app['application_name']}")+"/#{namespace}" do%>
    <div class="row">
      <div class="col-12  apps-list-item list-group-item-action">
          <span><%= namespace%></span>
      </div>
    </div>
  <% end %>
<% end %>
