// Place all the styles related to the configuration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.configs {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd
  }
}

table.app-info {
  border-collapse: collapse;
  width: 70%;
  font-size: x-large;

  td {
    padding: 8px;
  }
}
