// Place all the styles related to the configuration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.configs {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd
  }
}

table.edit-configs {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 15px;

  td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;

    input {
      font-size: 12pt;
      width: 100%;
      padding: 8px 4px;
    }
  }

  th {
    padding: 8px;
    border: 0px;
  }

  td.del-span {
    border: 0px;
    width: 5%;
  }

  button.del-btn {
    color: white;
  }
}

button.add-cfg-btn {
  width: 100%;
  align-content: center;
}

table.app-info {
  border-collapse: collapse;
  width: 70%;
  font-size: x-large;

  td {
    padding: 8px;
  }
}
