<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
      <a class="navbar-brand col-3" href=<%=applications_path%>>Comet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col-2 offset-7" id="navbarSupportedContent">
        <%= button_to("Log Out", "/logout", method: :get, class: "btn btn-default logout-btn") %>
      </div>
    </nav>
  </div>
</div>
